.main-content {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.gallery-with-socials {
    display: flex;
    flex-direction: column;
    gap: -5px;
    align-items: center;
}
